# Тесты
src/__tests__/
tests/

# Покрытие
coverage/
coverage-test/

# IDE
.idea/
.vscode/

# Git
.git/
.gitignore

# Документация
*.md
!README.md

# Конфигурационные файлы
.eslintrc
.prettierrc
playwright.config.js

# Логи
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Временные файлы
node_modules/ 